<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Administración</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <link rel='stylesheet' type='text/css' href='/css/admin.css'/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    </head>

    <body>

        <input type="checkbox" id="check">

        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar-btn"></i>
            </label>
            <div class="left-area">
                <a href="">Administración</a>
            </div>
            <div class="right-area">
                <a href="#" class="logout-btn"><i class="fa fa-power-off"></i></a>
            </div>
        </header>

        <div class="mobile-nav">
            <div class="nav-bar">
                <i class="fa fa-bars nav-btn"></i>
            </div>
            <div class="mobile-nav-items">
                <a href="#"><i class="fas fa-desktop"></i><span>General</span></a>
                <a href="#"><i class="fas fa-users"></i></i><span>Usuarios</span></a>
                <a href="#"><i class="fas fa-map-marked-alt"></i></i><span>Atractivos</span></a>
                <a href="#"><i class="fas fa-concierge-bell"></i><span>Servicios</span></a>
            </div>
        </div>
        
        <div class="sidebar">
            <a href="#"><i class="fas fa-desktop"></i><span>General</span></a>
            <a href="#"><i class="fas fa-users"></i></i><span>Usuarios</span></a>
            <a href="#"><i class="fas fa-map-marked-alt"></i></i><span>Atractivos</span></a>
            <a href="#"><i class="fas fa-concierge-bell"></i><span>Servicios</span></a>
        </div>
    
        <div class="content">

            <div class="container">
                <h3 class="text-center">tabla de x</h3>
                <div class="busqueda">
                    <input class="busqueda-input search" data-table="order-table" type="text" placeholder="Search..">
                </div>

                <table class="table order-table">
                    <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data) { %>
                                <% for(var i = 0; i < data.length; i++) { %>
                                    <tr>
                                        <td> <%= (i+1) %> </td>
                                        <td> <%= data[i].name %> </td>
                                        <td> <%= data[i].address %> </td>
                                        <td> <%= data[i].phone %> </td>
                                        <td>
                                            <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                                        </td>
                                        <td>
                                            <a href="/update/<%= data[i].id %>" class="btn btn-info">Update</a>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                </table>
            </div>
            
        </div>

        <!-- Archivo js -->
        <script src="public/js/main.js"></script>
        <!-- Script de nav -->
        <script type="text/javascript">
            $(document).ready(function(){
                $('.nav-btn').click(function(){
                $('.mobile-nav-items').toggleClass('active');
                });
            });
        </script>
        <!-- Script de buscador de la tabla -->
        <script type="text/javascript">
            (function(document) {
                'use strict';
            
                var LightTableFilter = (function(Arr) {
                    var _input;          
                    function _onInputEvent(e) {
                        _input = e.target;
                        var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                        Arr.forEach.call(tables, function(table) {
                            Arr.forEach.call(table.tBodies, function(tbody) {
                            Arr.forEach.call(tbody.rows, _filter);
                            });
                        });
                    }
                    function _filter(row) {
                        var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                        row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                    }
            
                    return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search');
                        Arr.forEach.call(inputs, function(input) {
                            input.oninput = _onInputEvent;
                        });
                        }
                    };
                })(Array.prototype);
            
                document.addEventListener('readystatechange', function() {
                    if (document.readyState === 'complete') {
                        LightTableFilter.init();
                    }
                });
            })(document);
        </script>
      
    </body>

</html>