<%- include ('partials-home/_header-home')  %>

    <script>
        var a = '<%- JSON.stringify(data)%>';
        var data = JSON.parse(a);
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: { lat: -33.59829709005887, lng: -71.60798902585982 },
            });
            const geocoder = new google.maps.Geocoder();
            geocodeAddress(geocoder, map);
        }
    
        function geocodeAddress(geocoder, resultsMap) {
            for (let i = 0; i < data.length; i++) {
                const address = data[i].geo_local;
                geocoder.geocode({ address: address }, (results, status) => {
                if (status === "OK") {
                    resultsMap.setCenter(results[0].geometry.location);
                    new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location,
                        title: data[i].titulo,
                        animation: google.maps.Animation.DROP
                    });
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }
                });
            }
        }

    </script>

    <section class="slideshow">
        <div class="titulo">
            <h2 class="mayus centrado">apartado de atractivos</h2>
        </div>
        <div id="map"></div>
    </section>

    <!-- Iconos de navegación -->
    <section class="servicios">
        <div class="lista-servicios">
            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-1.png" alt="Servicios Gastronómicos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Servicios Gastronómicos</div>
                    </div>
                </a>
            </div>

            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-2.png" alt="Alojamientos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Alojamientos</div>
                    </div>
                </a>
            </div>

            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-3.png" alt="Agencias y TTOO">
                    <div class="overlay overlayFade">
                        <div class="text-over">Agencias y TTOO</div>
                    </div>
                </a>
            </div>

            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-4.png" alt="Paseos Náuticos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Paseos Náuticos</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- Fin iconos de navegación -->

    <section class="prueba" id="">
        <!-- <section class="mis-servicios" id=""> -->

        <div class="cont-serv">
            <h2 class="centrado texto-ng">TODOS LOS ATRACTIVOS</h2>
            <div class="divisor">
                <div class="divisor-linea"></div>
                <div class="divisor-icon"><i class="fas fa-concierge-bell"></i></div>
                <div class="divisor-linea"></div>
            </div>

            <% var cont=0;%>
                <% if (data) { %>
                    <div class="row">
                    <% for(var i=0; i < data.length; i++) { %>
                            <% cont=1;%>
                            <div class="col-individual">
                                <div class="contex">
                                    <div class="cont-serv">
                                        <h3 class="centrado texto-ng">
                                            <%= data[i].titulo %>
                                        </h3>
                                    </div>
                                    <div class="divisor">
                                        <div class="divisor-linea"></div>
                                    </div>
                                    <div class="img-div" data-target="">
                                        <a href=""><img class="img-cont" src="/img/<%= data[i].img || 'default.png'%>" /></a>
                                    </div>
                                </div>
                            </div>
                    <% } %>
                <% } %>
                
                <% if (cont==0) { %>
                    <h4 class="centrado texto-ng text-h4">Lo sentimos, no hay atractivos disponibles.</a></h4>
                <% } %>
                </div>
        </div>
    </section>

<%- include ('partials-home/_footer-home')  %>