<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Turismo - San Antonio</title>
        <link rel="icon" type="image/x-icon" href="/img/icon.png" />
        <link rel='stylesheet' type='text/css' href='/css/x.css'/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <!-- Mapa -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ3GT9BCmJJLxmb_wwOrT8_VVS4ljKy_Q"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <!-- jquery -->
        <script src="js/jquery-3.2.1.js"></script>
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=Calligraffitti&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="nav">
            <div class="sesion">
                <a href="" class="logo"><img src="/img/icon.png"/></a>
                <% if (usuario != null) { %>
                    <a class="cuenta" href="/logout">Cerrar sesión</a>
                <% } %>
                <% if (usuario == null){ %>
                    <label for="iniciar-sesion" class="cuenta" href="">Iniciar sesión</label>
                    <label class="cuenta">|</label>
                    <label for="registro" class="cuenta" href="">Registrarse</label>
                <% } %>
                <!-- PopUP inicio de sesion y registro -->
                <input type="checkbox" id="iniciar-sesion" class="chk">
                <input type="checkbox" id="registro" class="chk">

                <!-- Inicio de sesion -->
                <div class="popup-log">
                    <label for="iniciar-sesion" class="cerrar fas fa-times"></label>
                    <h2 class="centrado mayus">Iniciar sesion</h2>
                    <form action="/login" method="POST">
                        <div class="data">  
                            <h3>Email</h3>
                            <input type="email" placeholder="Ingresa un correo electronico" name="username" required/>
                        </div>
                        <div class="data">
                            <h3>Contraseña</h3>
                            <input type="password"  placeholder="Ingresa una contraseña" name="password" required/>
                        </div>
                        <button type="submit" class="btn-sesion">Ingresar</button>
                    </form>
                </div>
                <!-- Fin inicio de sesion -->

                <!-- Registro -->
                <div class="popup-registro">
                    <label for="registro" class="cerrar fas fa-times"></label>
                    <h2 class="centrado mayus">Registrarse</h2>
                    <form action="/registro" method="POST">
                        <div class="data">
                            <h3>e-Mail</h3>
                            <input type="email" placeholder="Ingresa un correo electronico" name="correo" required/>
                        </div>
                        <div class="data">
                            <h3>Contraseña</h3>
                            <input type="password"  placeholder="Ingresa una contraseña" name="contrasena" required/>
                        </div>
                        <div class="data">
                            <h3>Nombre</h3>
                            <input type="text"  placeholder="Ingresa tu nombre" name="nombre" required/>
                        </div>
                        <div class="data">
                            <h3>Contacto</h3>
                            <input type="text"  placeholder="Ingresa tu numero de teléfono o celular" name="telefono" required/>
                        </div>
                        <button type="submit" class="btn-sesion">Enviar solicitud</button>
                    </form>
                </div>
                <!-- Fin registro -->

                <!-- Fin PopUP inicio de sesion y registro -->
            </div>
            <div class="navegacion">
                <input type="checkbox" id="check-menu" class="chk">
                <label for="check-menu" class="mostrar-menu"><i class="fas fa-bars"></i></label>
                <ul class="menu">
                    <% if (usuario != null) { %>
                        <li class="btn-servicios"><a href="/mis-servicios">MIS SERVICIOS</a></li>
                    <% } %>
                    <li><a href="/servicios-turisticos">SERVICIOS</a></li>
                    <li><a href="/atractivos-turisticos">ATRACTIVOS</a></li>
                    <li><a href="/">INICIO</a></li>
                </ul>
            </div>
        </div>


        <div class="mapa">
            <div class="titulo">
                <h2 class="mayus centrado">apartado de atractivos</h2>
            </div>
            <div id="map"></div>
        </div>

        <div class="iconos">
            <div class="row-iconos">
                <a href="">
                    <img src="/img/icono-1.png" alt="Servicios Gastronómicos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Gastronomia</div>
                    </div>
                </a>
            </div>
            <div class="row-iconos">
                <a href="">
                    <img src="/img/icono-2.png" alt="Alojamientos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Alojamientos</div>
                    </div>
                </a>
            </div>
            <div class="row-iconos">
                <a href="">
                    <img src="/img/icono-3.png" alt="Agencias y TTOO">
                    <div class="overlay overlayFade">
                        <div class="text-over">Agencias y TTOO</div>
                    </div>
                </a>
            </div>
            <div class="row-iconos">
                <a href="">
                    <img src="/img/icono-4.png" alt="Paseos Náuticos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Paseos Náuticos</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="filtro">
            <h2 class="centrado texto-blanco">ATRACTIVOS</h2>
            <div class="divisor">
                <div class="divisor-linea linea-bl"></div>
                <div class="divisor-icon icon-bl"><i class="fas fa-concierge-bell"></i></div>
                <div class="divisor-linea linea-bl"></div>
            </div>
        </div>
        
        <div class="tarjetas">
            <% var cont=0;%>
            <% if (data) { %>
                <div class="row">
                <% for(var i=0; i < data.length; i++) { %>
                    <% cont=1;%>
                    <div class="tarjeta" all="all" category="<%= data[i].nombre_cat%>">
                            <div class="baner">
                                <p class="mayus negrita"><%= data[i].titulo %></p>
                                <p>Atractivos</p>
                            </div>
                            <a href="/atractivo/<%= data[i].id_atractivo%>">
                                <img src="/img/<%= data[i].img || 'default.png'%>">
                            </a>
                        </div>
                    <% } %>
                </div>
            <% } %>
            
            <% if (cont==0) { %>
                <h4 id="msj" class="centrado texto-ng text-h4">Lo sentimos, no hay publicaciones disponibles.</a></h4>
            <% } %>
        </div>

        <script>
            var a = '<%- JSON.stringify(data)%>';
            var data = JSON.parse(a);
            var delay = 100;
            var infowindow = new google.maps.InfoWindow();
            var geo = new google.maps.Geocoder(); 
    
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: { lat: -33.59829709005887, lng: -71.60798902585982 },
            });
    
            function getAddress(search, next, i) {
                geo.geocode({address:search}, function (results,status){ 
                    if (status == google.maps.GeocoderStatus.OK) {
    
                        var marker = new google.maps.Marker({
                            position: results[0].geometry.location,
                            map: map,
                            title: data[i].titulo,
                            animation: google.maps.Animation.DROP
                        });
                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.setContent(data[i].titulo);
                            infowindow.open(map,marker);
                        });
                    }
                    else {
                        if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                            sigLugar--;
                            delay++;
                        } else {
                            alert("Geocode was not successful for the following reason: " + status);
                        }   
                    }
                    next();
                });
            }
    
            var lugares = []
            for (let i = 0; i < data.length; i++) { lugares.push(data[i].geo_local); }
            var sigLugar = 0;
            function inicio() {
                if (sigLugar < lugares.length) {
                    setTimeout('getAddress("'+lugares[sigLugar]+'",inicio, sigLugar-1)', delay);
                    sigLugar++;
                } else {
                    map.center(-33.59829709005887, -71.60798902585982);
                }
            }
            inicio();
        </script>
        

        <script src="js/confirm.js"></script>
        <div class="footer">
            <div class="footer-box centrado texto-blanco">
                <h3 class="texto mayus"><i class="fas fa-headset"></i> Contacto</h3>
                <h4 class="texto">+56 - 35 - 2337000 | +56 - 35 - 2337001</h4>
                <h4 class="texto">informaciones@sanantonio.cl</h4>
            </div>
            <div class="footer-box centrado texto-blanco">
                <h3 class="texto mayus"><i class="fas fa-map-marker-alt texto"></i> Edificio Consistorial</h3>
                <h4 class="texto">Av. Ramón Barros Luco 1881</h4>
            </div>
        </div>
    </body>
</html>   