<%- include ('partials-admin/_header-admin')  %>

    <!-- Sección del contenido (Cuerpo general) -->
    <div class="content">

        <div class="container-form">
            <h3 class="text-center">Modificar un servicio</h3>
            <form action="/modificar-servicio-reg/<%= data.id_servicio %>" method="POST">
                <div class="datos">
                    <label>Título</label>
                    <div class="input-user">
                        <input class="text" type="text" name="titulo" value="<%= data.titulo %>" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Descripción</label>
                    <div class="input-user">
                        <textarea class="text" name="descripcion" required><%= data.descripcion %></textarea>
                    </div>
                </div>
                <div class="datos">
                    <label>Ubicación</label>
                    <div class="input-user">
                        <input class="text" type="text" name="geo_local" value="<%= data.geo_local %>" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Teléfono</label>
                    <div class="input-user">
                        <input class="text" type="text" name="telefono" value="<%= data.telefono %>" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Correo electrónico </label>
                    <div class="input-user">
                        <input class="text" type="email" name="contacto_correo" value="<%= data.contacto_correo %>" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Facebook (opcional) </label>
                    <div class="input-user">
                        <input class="text" name="facebook" value="<%= data.facebook %>"></input>
                    </div>
                </div>
                <div class="datos">
                    <label>Twitter (opcional) </label>
                    <div class="input-user">
                        <input class="text" name="twitter" value="<%= data.twitter %>"></input>
                    </div>
                </div>
                <div class="datos">
                    <label>Instagram (opcional) </label>
                    <div class="input-user">
                        <input class="text" name="instagram" value="<%= data.instagram %>"></input>
                    </div>
                </div>
                <div class="datos">
                    <label>Sitio web (opcional)</label>
                    <div class="input-user">
                        <input class="text" name="web" value="<%= data.web%>"></input>
                    </div>
                </div>
                <div class="boton">
                    <button type="submit">Modificar servicio</button>
                </div>
            </form>
        </div>
            
    </div>

    <!-- Fin sección del contenido (Cuerpo general)  -->

<%- include ('partials-admin/_footer-admin')  %>