<%- include ('partials-admin/_header-admin')  %>


        <!-- Sección del contenido (Cuerpo general) -->
        <div class="content">

            <div class="container-tabla">
                <h3 class="text-center">servicios de usuarios</h3>
                <div class="busqueda">
                    <input class="busqueda-input search" data-table="order-table" type="text" placeholder="Buscar...">
                </div>

                <table class="table order-table text-center">
                    <thead>
                            <tr>
                                <th>ID</th>
                                <th>Título</th>
                                <th>Ubicación</th>
                                <th>Teléfono</th>
                                <th>Correo</th>
                                <th>Red Social</th>
                                <th>Sernatur</th>
                                <th colspan="2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data) { %>
                                <% for(var i = 0; i < data.length; i++) { %>
                                    
                                    <% if (data[i].tipo == 'emprendedor') { %>
                                        <tr>
                                            <td> <%= data[i].id_emp %> </td>
                                            <td> <%= data[i].titulo %> </td>
                                            <td> <%= data[i].ubicacion %> </td>
                                            <td> <%= data[i].contacto_tel %> </td>
                                            <td> <%= data[i].contacto_correo %> </td>
                                            <td> <%= data[i].redsocial %> </td>
                                            <td> <%= data[i].sernatur %> </td>
                                            <td>
                                                <a href="/eliminar/<%= data[i].correo %>" class="boton eliminar">Eliminar</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </tbody>
                </table>
                
            </div>

        </div>

<%- include ('partials-admin/_footer-admin')  %>