<%- include ('partials-home/_header-home')  %>

    <section class="slideshow">
        <div class="titulo">
            <h2 class="mayus centrado">apartado de servicios</h2>
        </div>
        <div id="map"></div>
    </section>

    <!-- Iconos de navegación -->
    <section class="servicios">
        <div class="lista-servicios">
            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-1.png" alt="Servicios Gastronómicos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Servicios Gastronómicos</div>
                    </div>
                </a>
            </div>

            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-2.png" alt="Alojamientos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Alojamientos</div>
                    </div>
                </a>
            </div>

            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-3.png" alt="Agencias y TTOO">
                    <div class="overlay overlayFade">
                        <div class="text-over">Agencias y TTOO</div>
                    </div>
                </a>
            </div>

            <div class="one">
                <a href="">
                    <img class="foto" src="/img/icono-4.png" alt="Paseos Náuticos">
                    <div class="overlay overlayFade">
                        <div class="text-over">Paseos Náuticos</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- Fin iconos de navegación -->

    <section class="prueba" id="">
        

        <div class="div-filtro">
            <h2 class="centrado texto-blanco">SERVICIOS Y ATRACTIVOS</h2>
            <div class="dropdown">
                <div class="select_style">
                    <select id="mySelect">
                        <option class="category_item" value="Todos">Tipo de servicio (Todos)</option>
                        <% for(var i=0; i < dataCategoria.length; i++) { %>
                        <option class="category_item" value="<%= dataCategoria[i].nombre_cat %>" ><%= dataCategoria[i].nombre_cat %></option>
                        <% } %>
                    </select>
                </div>
            
                <div class="select_style">
                    <select id="mySelectDos">
                        <option class="category_item_dos" value="Todos">Subtipo de servicio (Todos)</option>
                        <% for(var i=0; i < dataSubcategoria.length; i++) { %>
                        <option class="category_item_dos" all="all" category="<%= dataSubcategoria[i].nombre_cat %>" value="<%= dataSubcategoria[i].nombre_subcat %>" ><%= dataSubcategoria[i].nombre_subcat %></option>
                        <% } %>
                    </select>
                </div>
                
            </div>
        </div>
    </section>

    <section class="products-list">
        <div class="cont-serv">
    
            <% var cont=0;%>
                <% if (data) { %>
                    <div class="row">
                        <% for(var i=0; i < data.length; i++) { %>
                            <% cont=1;%>
                                <% if (data[i].solicitud==1) { %>
                                    <div class="col-individual" all="all" category="<%= data[i].nombre_cat %>">
                                        <div class="contex">
                                            <div class="cont-serv">
                                                <h3 class="centrado texto-ng">
                                                    <%= data[i].titulo %>
                                                </h3>
                                            </div>
                                            <div class="divisor">
                                                <div class="divisor-linea"></div>
                                            </div>
                                            <div class="img-div" data-target="">
                                                <a href="/servicio/<%= data[i].id_servicio%>"><img class="img-cont"
                                                        src="/img/<%= data[i].img || 'default.png'%>" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                                            <% } %>
    
    
                    </div>
                    <% if (cont==1) { %>
                        <h4 id="msj" class="centrado texto-ng text-h4">Lo sentimos, no hay publicaciones disponibles.</a>
                        </h4>
                        <% } %>
        </div>
    
    </section>

    <!-- JS -->
    <script>
        $(document).ready(function(){
            
            $('#mySelectDos option[all="all"]').hide();
            // combobox y servicios
            $('#mySelect').on('change', function() {
                
                var value = $(this).val();
                //var Todos =   $("#mySelect option[value='Todos']").attr("selected", true);
                

                $('#mySelectDos option[all="all"]').hide();
                $('#mySelectDos option[category="' + value + '"]').show();

                // TODOS
                if ($(this).val() === 'Todos') {
                        function showAll() {
                            $('#mySelectDos option[all="all"]').hide();
                        } setTimeout(showAll, 100);
                }

                
            });

        });

    </script>

    <script>
        var a = '<%- JSON.stringify(data)%>';
        var data = JSON.parse(a);
        var delay = 100;
        var infowindow = new google.maps.InfoWindow();
        var geo = new google.maps.Geocoder(); 

        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 11,
            center: { lat: -33.59829709005887, lng: -71.60798902585982 },
        });

        function getAddress(search, next, i) {
            geo.geocode({address:search}, function (results,status){ 
                if (status == google.maps.GeocoderStatus.OK) {

                    var marker = new google.maps.Marker({
                        position: results[0].geometry.location,
                        map: map,
                        title: data[i].titulo,
                        animation: google.maps.Animation.DROP
                    });
                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.setContent(data[i].titulo);
                        infowindow.open(map,marker);
                    });
                }
                else {
                    if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                        sigLugar--;
                        delay++;
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }   
                }
                next();
            });
        }

        var lugares = []
        for (let i = 0; i < data.length; i++) { lugares.push(data[i].geo_local); }
        var sigLugar = 0;
        function inicio() {
            if (sigLugar < lugares.length) {
                setTimeout('getAddress("'+lugares[sigLugar]+'",inicio, sigLugar-1)', delay);
                sigLugar++;
            } else {
                map.center(-33.59829709005887, -71.60798902585982);
            }
        }
        inicio();
    </script>

<%- include ('partials-home/_footer-home')  %>